{% extends 'base.html.twig' %}

{% block title %}DishMenu index{% endblock %}

{% block main %}
    <h1>DishMenu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MenuCategory</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dish_menu in dish_menus %}
            <tr>
                <td>{{ dish_menu.id }}</td>
                <td>{{ dish_menu.menuCategory }}</td>
                <td>
                    <a href="{{ path('app_dish_menu_show', {'id': dish_menu.id}) }}">show</a>
                    <a href="{{ path('app_dish_menu_edit', {'id': dish_menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dish_menu_new') }}">Create new</a>
{% endblock %}
