{% extends 'base.html.twig' %}

{% block title %}Admin | {{ 'dish categories'|trans|title }}{% endblock %}

{% block main %}
    <h1>{{ 'new category'|trans|title }}</h1>
    <div class="col-12 col-md-9 col-lg-7 col-xl-6 mx-auto">
        {{ include('dish_menu/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('app_dish_menu_index') }}">{{ 'go_back'|trans|capitalize }}</a>
    </div>    
{% endblock %}
