{% extends 'base.html.twig' %}

{% block title %}Admin | Dish categories{% endblock %}

{% block main %}
    <h1>Dish category</h1>

    <div class="col-12 col-md-9 col-lg-7 col-xl-6 mx-auto">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ dish_menu.id }}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ dish_menu.menuCategory|capitalize }}</td>
                </tr>
                <tr>
                    <th>Emoji</th>
                    <td class="emoji-size">{{ dish_menu.menuEmoji|raw }}</td>
                </tr>
            </tbody>
        </table>
    
        <a class="btn btn-primary" href="{{ path('app_dish_menu_index') }}">back to list</a>
    
        <a class="btn btn-primary" href="{{ path('app_dish_menu_edit', {'id': dish_menu.id}) }}">edit</a>
    
        {{ include('dish_menu/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
