{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Register{% endblock %}

{% block main %}    
    <div class="row">
        <div class="col-12 col-md-6 mx-auto credentials">
            <h3 class="text-center">FORMULARIO DE REGISTRO</h3>
            {{ form_start(registrationForm) }}
                {% for field in registrationForm.children %}
                    <div class="row mb-3 {% if not field.vars.valid %}has-error{% endif %}">
                        {% if field.vars.name != "_token" %}
                            {% if field.vars.name == "agreeTerms" %}
                                <div class="col-12 col-md-3">&nbsp;</div>
                                <div class="col-12 col-md-8">
                                    {{ form_label(field, null, {'label_attr': {'class': 'col-12 col-md-3 text-center text-md-end form-check-label'}}) }}              
                                    {{ form_widget(field, { 'attr': { 'class': 'form-check-input' }}) }} 
                                </div>                                
                            {% else %}
                                {{ form_label(field, null, {'label_attr': {'class': 'col-12 col-md-3 text-center text-md-end col-form-label'}}) }}               
                                {% if field.vars.name == "plainPassword" %}
                                <div class="col-12 col-md-7">
                                    {{ form_widget(field, { 'attr': { 'class': 'form-control' }}) }} 
                                </div>
                                <div class="col-1 col-md-1 ms-2 me-2 m-md-0 d-flex p-0 justify-content-center align-items-center">
                                    <img class="show_password" src="/images/eye.svg" alt="eye" height="20">
                                </div>
                                {% else %}
                                <div class="col-12 col-md-8">
                                    {{ form_widget(field, { 'attr': { 'class': 'form-control' }}) }} 
                                </div>   
                                {% endif %}
                            {% endif %}                                                        
                        {% endif %}
                    </div>
                {% endfor %}
                
                <div class="row mb-3">
                    <label class="col-12 text-center col-form-label" for="strength">Strength Password:</label>
                    <div id="strength" class="col-12 strength">                                        
                        <div class="strength_bar" id="strength_bar"></div>                                    
                    </div>
                    <p class="message" id="message"></p>
                </div> 

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                
                <div class="row mb-3">
                    <label class="col-12 col-md-3" for="none">&nbsp;</label>
                    <div class="col-12 col-md-8 text-center text-md-start">
                        <input type="submit" value="Register">
                    </div>                    
                </div>
            {{ form_end(registrationForm) }}
        </div>        
    </div>
    <script src="{{ asset('/js/passwd_test_strength.js') }}"></script>  
{% endblock %}
