{% extends 'base.html.twig' %}

{% block title %}Admin | Dish options{% endblock %}

{% block main %}
    <h1>Dish options index</h1>

    <div class="col-12 col-xl-9 mx-auto table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="text-center">
                <tr>
                    <th>Id</th>
                    <th>Dish option</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for dish_day in dish_days %}
                <tr>
                    <td>{{ dish_day.id }}</td>
                    <td>{{ dish_day.categoryName }}</td>
                    <td class="text-center">
                        <a class="btn btn-outline-success" href="{{ path('app_dish_day_show', {'id': dish_day.id}) }}">show</a>
                        <a class="btn btn-outline-success" href="{{ path('app_dish_day_edit', {'id': dish_day.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>    
    </div>
    
    <a class="btn btn-primary" href="{{ path('app_dish_day_new') }}">Create new</a>
    <a class="btn btn-primary" href="{{ path('app_admin') }}">Go back</a>
{% endblock %}
