{% extends 'base.html.twig' %}

{% block title %}Admin | {{ 'dish_options'|trans|capitalize }}{% endblock %}

{% block main %}
    <div class="row">
        <h1>{{ 'create new option'|trans|title }}</h1>
        <div class="col-12 col-md-9 col-lg-7 col-xl-6 mx-auto">
            
            {{ include('dish_day/_form.html.twig') }}
        
            <a class="btn btn-primary" href="{{ path('app_dish_day_index') }}">{{ 'go_back'|trans|capitalize }}</a>
        </div> 
    </div>   
{% endblock %}
