{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Reservations{% endblock %}

{% block section %}
<section class="col-12 col-lg-9 p-sm-0 pe-lg-3">
    <div class="col mb-3 reservations"></div>
    <div class="col d-flex justify-content-center align-items-center mb-3">
        <h2 class="m-0 me-2">Reservations</h2>        
    </div>
    <div class="clear-fix">
        {{ form_start(form) }}
        <!-- Date and Time -->
        <div class="row mb-0 mb-md-3 d-flex">
            <div class="col-12 col-md-6">
                {{ form_label(form.date, 'Date:', {'label_attr': {'class': 'col-3 col-md-4 form-label mb-2 mb-md-0'}}) }}
                <div class="col-8 col-md-5 d-inline-block mb-2 mb-md-0">
                    {{ form_widget(form.date, { 'attr': { 'class': 'form-control blockBefore', 'required': 'required', 'min': "now"|date("m/d/Y")}}) }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                {{ form_label(form.time, 'Time:', {'label_attr': {'class': 'col-3 col-md-4 form-label mb-2 mb-md-0'}}) }}
                <div class="col-8 col-md-7 col-lg-4 d-inline-block mb-2 mb-md-0">
                    {{ form_widget(form.time, { 'attr': { 'required': 'required'}}) }}
                </div>
            </div>
        </div>

        <!-- Name and people quantity -->
        <div class="row mb-0 mb-md-3 d-flex">
            <div class="col-12 col-md-6">
                {{ form_label(form.name, 'Name:', {'label_attr': {'class': 'col-3 col-md-4 form-label mb-2 mb-md-0'}}) }}
                <div class="col-8 col-md-7 d-inline-block mb-2 mb-md-0">
                    {{ form_widget(form.name, { 'attr': { 'class': 'form-control blockBefore', 'required': 'required'}}) }}
                </div>
            </div>
            <div class="col-12 col-md-6">
                {{ form_label(form.peopleQty, 'Quantity:', {'label_attr': {'class': 'col-3 col-md-4 form-label mb-2 mb-md-0'}}) }}
                <div class="col-8 col-md-7 col-lg-4 d-inline-block mb-2 mb-md-0">
                    {{ form_widget(form.peopleQty, { 'attr': { 'required': 'required'}}) }}
                </div>
            </div>
        </div>

        <!-- Email -->
        <div class="row mb-0 mb-md-3 d-flex">
            <div class="col-12 col-md-6">
                {{ form_label(form.email, 'Email:', {'label_attr': {'class': 'col-3 col-md-4 form-label mb-2 mb-md-0'}}) }}
                <div class="col-8 col-md-7 d-inline-block mb-2 mb-md-0">
                    {{ form_widget(form.email, { 'attr': { 'class': 'form-control blockBefore', 'required': 'required'}}) }}
                </div>
            </div>            
        </div>

        <!-- Comment -->
        <div class="row mb-0 mb-md-3 d-flex">
            <div class="col-12">
                {{ form_label(form.comment, 'Comment:', {'label_attr': {'class': 'col-2 col-md-2 form-label mb-2 mb-md-0'}}) }}
                <div class="col-12 col-md-9 d-inline-block mb-2 mb-md-0">
                    {{ form_widget(form.comment, { 'attr': { 'class': 'form-control blockBefore', 'required': 'required', 'placeholder': 'Write your comment here...'}}) }}
                </div>
            </div>            
        </div>
        <div class="row mb-3 mt-5 d-flex">
            <div class="text-center">
                {{ form_widget(form.send) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>    
</section>
{% endblock %}
