{% extends 'base.html.twig' %}

{% block title %}My Restaurant | admin{% endblock %}

{% block main %}
<div class="row">
    <h3 class="text-center pb-2">MAIN MENU</h3>
    
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">DISHES</h4>
        <div class="shadow rounded adminMenus">               
            <a class="btn btn-primary mb-5" href="{{ path('app_dish_index') }}">Index</a>
            <a class="btn btn-primary mb-5" href="{{ path('app_admin_search') }}">Search</a>
            <a class="btn btn-primary mb-5" href="{{ path('app_dish_new') }}">Create new</a>
            <hr />
            <h4 class="text-center">MENU'S DAY PRICE</h4>
            <div class="row mb-3">
               {% include "/menu_day_price/_form.html.twig" %}                                           
            </div>            
        </div> 
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">USERS</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="{{ path('app_user_index') }}">Index</a>
        </div> 
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">CATEGORIES</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="#">Index</a>
        </div> 
    </div>                                                                          
</div> 
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">ORDERS</h4>
        <div class="shadow rounded adminMenus">
            <a class="btn btn-primary mb-5" href="{{ path('app_order') }}">Index</a>                                    
        </div> 
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">RESERVATIONS</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="{{ path('app_reservation_search') }}">Search</a>
        </div> 
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">NEW SECTION</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="#">Index</a>
        </div> 
    </div>  
</div>
{% endblock %}
