{% extends 'base.html.twig' %}

{% block title %}My Restaurant | admin{% endblock %}

{% block main %}
<div class="row">
    <h3 class="text-center pb-2">{{ 'main_menu'|trans|upper }}</h3>
    
                            <!-- DISHES -->

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">{{ 'dishes'|trans|upper }}</h4>
        <div class="shadow rounded adminMenus">               
            <a class="btn btn-primary mb-5" href="{{ path('app_dish_index') }}">{{ 'index'|trans|capitalize }}</a>
            <a class="btn btn-primary mb-5" href="{{ path('app_admin_search') }}">{{ 'search'|trans|capitalize }}</a>
            <a class="btn btn-primary mb-5" href="{{ path('app_dish_new') }}">{{ 'new_dish'|trans|capitalize }}</a>
            <hr />
            <h4 class="text-center">{{ 'admin_panel_menuday_price'|trans|upper}}</h4>
            <div class="row mb-3">
               {% include "/menu_day_price/_form.html.twig" %}                                           
            </div>            
        </div> 
    </div>

                            <!-- USERS -->

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">{{ 'users'|trans|upper }}</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="{{ path('app_user_index') }}">{{ 'index'|trans|capitalize }}</a>
        </div> 
    </div>

                            <!-- CATEGORIES -->

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">{{ 'categories'|trans|upper }}</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="{{ path('app_dish_menu_index') }}">{{ 'index'|trans|capitalize }}</a>
            <a class="btn btn-primary mb-5" href="{{ path('app_dish_day_index') }}">{{ 'dish_options'|trans|capitalize }}</a>
        </div> 
    </div>                                                                          
</div>

                            <!-- ORDERS -->

<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">{{ 'orders'|trans|upper }}</h4>
        <div class="shadow rounded adminMenus">
            <a class="btn btn-primary mb-5" href="{{ path('app_order') }}">{{ 'index'|trans|capitalize }}</a>                                    
        </div> 
    </div>

                            <!-- RESERVATIONS -->

    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">{{ 'reservations'|trans|upper }}</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="{{ path('app_reservation_search') }}">{{ 'search'|trans|capitalize }}</a>
        </div> 
    </div>
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <h4 class="text-center">NEW SECTION</h4>
        <div class="shadow rounded adminMenus">        
            <a class="btn btn-primary mb-5" href="#">{{ 'index'|trans|capitalize }}</a>
        </div> 
    </div>  
</div>
{% endblock %}
