{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Login{% endblock %}

{% block main %}
<div class="col-12 col-md-6 col-lg-5 mx-auto credentials">
    {% if error %}
    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h3 class="text-center">{{ 'login'|trans|capitalize }}</h3>
    <form action="{{ path('app_login', {'_locale': app.request.locale}) }}" method="post">
        <div class="row mb-3">
            <label class="col-12 col-md-3 text-center text-md-end col-form-label" for="username">Email:</label>
            <div class="col-12 col-md-8">                
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
            </div>                
        </div> 
        
        <div class="row mb-3">
            <label class="col-12 col-md-3 text-center text-md-end col-form-label" for="password">Password:</label>
            <div class="col-10 col-md-7 pe-0">                               
                <input class="form-control" type="password" id="password" name="_password" placeholder="example: raJ0#s2!_dA">
                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"> #}
            </div>
            <div class="col-1 col-md-1 ms-2 me-2 m-md-0 d-flex p-0 justify-content-center align-items-center">
                <img class="show_password" src="/images/eye.svg" alt="eye" height="20">
            </div>                 
        </div>

        <div class="row mb-3">
            <label class="col-12 text-center col-form-label" for="strength">{{ 'strength password'|trans|capitalize }}</label>
            <div id="strength" class="col-12 strength">                                        
                <div class="strength_bar" id="strength_bar"></div>                                    
            </div>
            <p class="message" id="message"></p>
        </div>  
                              
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="row mb-3">
            <label class="col-12 col-md-3" for="none">&nbsp;</label>
            <div class="col-12 col-md-8 text-center text-md-start">                
                <input type="submit" value="{{ 'login'|trans|capitalize }}">
            </div> 
        </div>        
    </form>
</div>
<script src="{{ asset('/js/passwd_test_strength.js') }}"></script>    
{% endblock %}
