{% extends 'base.html.twig' %}

{% block title %}My Restaurant | Menu{% endblock %}

{% block section %}

<section class="col-12 col-lg-9 p-sm-0 pe-lg-3">
    <div class="col mb-3 {{ category }}"></div>
    <div class="row mb-3">
        <div class="col-12 col-md-3 col-lg-2 col-xl-1 d-flex justify-content-center align-items-center">            
            <figure class="figure">							
                <a href="{{ path('app_pdf_generator_menu') }}" target="_blank"><img class="figure-img img-fluid menuLogo" src="{{ asset("images/menu.png") }}" alt="logo"></a>                            
                <figcaption class="figure-caption text-center">{{ 'menu'|trans|capitalize }}</figcaption>
            </figure>						
        </div>
        <div class="col-12 col-md-6 col-lg-10 col-xl-11 d-flex justify-content-center align-items-center">
            <h2 class="m-0 me-2">{{ category|trans|capitalize }}</h2>
        </div>	                
    </div>
    <div class="row">
                                        <!--- SHOW MENU'S SECTIONS -->
        {% for k, i in 1..groups %}
            <div class="col-6 col-md-4 col-lg-3">
                <ul>
                {% for id, section in sections|slice(k * elements, elements * i) %}
                    {% if id < elements  %}
                    <li class="showMenuCategories">
                        <a class="btn btn-outline-secondary" href="{{ path('app_dish_show', {'id': section.id|lower}) }}">{{ section.name|trans|capitalize }}</a>
                    </li> 
                    {% endif %}                                                                                                          
                {% endfor %}
                </ul>
            </div>
        {% endfor %} 
    </div>
    <div class="row">
        <div class="mb-3 text-center text-lg-start">
            <a class="btn btn-primary" href="{{ path('app_menu_view') }}">{{ 'go back'|trans|capitalize }}</a>
        </div>
    </div>              		     
</section>

{% endblock %}
