{% extends "base.html.twig" %}

{% block title %}My Restaurant | Reservations Search{% endblock %}

{% block section %}
<section class="col-12 col-lg-9 p-sm-0 pe-lg-3 mb-5">
    <div class="col mb-3 reservations"></div>
    <h3 class="text-center pb-2">SEARCH RESULTS</h3>

    {% for reservation in dates %}
        <table class="table table-striped table-bordered mb-5">
            <h4 class="mb-0"><strong>Date: {{ reservation.date|date("d/m/Y") }}</strong></h4>
            <thead class="text-center">
                <th>Name</th>
                <th>People qty.</th>
                <th>Time</th>
                <th>Comment</th>
            </thead>
            <tbody>
            {% for row in reservations %}
                {% if row.date == reservation.date %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.peopleQty }}</td>
                    <td>{{ row.time }}</td>
                    <td>{{ row.comment }}</td>
                </tr>   
                {% endif %}                                                      
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    
        
    <a href="{{ path('app_reservation_search') }}" class="btn btn-primary">go_back</a>
</section>
{% endblock %}