{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
    <h1>Orders index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TableNumber</th>
                <th>PeopleQty</th>
                <th>Aperitifs</th>
                <th>AperitifsQty</th>
                <th>AperitifsFinished</th>
                <th>Firsts</th>
                <th>FirstsQty</th>
                <th>FirstsFinished</th>
                <th>Seconds</th>
                <th>SecondsQty</th>
                <th>SecondsFinished</th>
                <th>Desserts</th>
                <th>DessertsQty</th>
                <th>DessertsFinished</th>
                <th>Drinks</th>
                <th>DrinksQty</th>
                <th>DrinksFinished</th>
                <th>Coffees</th>
                <th>CoffeesQty</th>
                <th>CoffeesFinished</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.tableNumber }}</td>
                <td>{{ order.peopleQty }}</td>
                <td>{{ order.aperitifs }}</td>
                <td>{{ order.aperitifsQty }}</td>
                <td>{{ order.aperitifsFinished }}</td>
                <td>{{ order.firsts }}</td>
                <td>{{ order.firstsQty }}</td>
                <td>{{ order.firstsFinished }}</td>
                <td>{{ order.seconds }}</td>
                <td>{{ order.secondsQty }}</td>
                <td>{{ order.secondsFinished }}</td>
                <td>{{ order.desserts }}</td>
                <td>{{ order.dessertsQty }}</td>
                <td>{{ order.dessertsFinished }}</td>
                <td>{{ order.drinks }}</td>
                <td>{{ order.drinksQty }}</td>
                <td>{{ order.drinksFinished }}</td>
                <td>{{ order.coffees }}</td>
                <td>{{ order.coffeesQty }}</td>
                <td>{{ order.coffeesFinished }}</td>
                <td>
                    <a href="{{ path('app_orders_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_orders_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_orders_new') }}">Create new</a>
{% endblock %}
