{% extends 'base.html.twig' %}

{% block title %}Dish index{% endblock %}

{% block main %}
    <h1>Dish index</h1>

    <div class="col-12 col-xl-9 mx-auto table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="text-center">
                <tr>
                    <th>Id</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Menu's Day</th>
                    <th>Category</th>                             
                    <th>Price</th>
                    <th>Available</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for dish in dishes %}
                <tr>
                    <td>{{ dish.id }}</td>
                    <td class="align-middle col-1">
                        <a href="{{ path('app_dish_show', {'id': dish.id}) }}">
                            <img class="img-fluid" type="image" src="{{ asset('uploads/dishes_pictures/' ~ dish.picture) }}" alt="dish_image">
                        </a>                        
                    </td>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.dishday }}</td>
                    <td>{{ dish.dishmenu }}</td>                             
                    <td>{{ dish.price }}</td>
                    <td>{{ dish.available }}</td>
                    <td class="text-center">
                        <a class="btn btn-outline-success" href="{{ path('app_dish_show', {'id': dish.id}) }}">show</a>
                        <a class="btn btn-outline-success" href="{{ path('app_dish_edit', {'id': dish.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
    <a class="btn btn-primary" href="{{ path('app_dish_new') }}">Create new</a>
{% endblock %}
